TOKEN_ZONE1=
TOKEN_ZONE2=
MQTT_BROKER=mqtt.thingsboard.cloud
MQTT_PORT=8883
MQTT_INTERVAL=5


# Email
MAIL_FROM=ton.adresse@gmail.com
MAIL_TO=destinataire@gmail.com
MAIL_PASSWORD=motdepasseapp16caracteres